<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>[[ title ]] - Timothy Cole</title>
	<link rel="stylesheet" href="/css/main.css?_=[[ rand ]]">

	{% include "../../parts/meta.html" ignore missing %}
</head>
<body>
	{% include "../../parts/menu.html" %}

	<tc-body>
		<tc-container class="fixed">
			<div class="row">
				<div class="col-12">
					<div class="dp-1 playing hide">
						<img src="" />
						<div class="meta">
							<h1>Song Name</h1>
							<h2>Artist Name</h2>
						</div>
						<div class="meta requester">
							<!-- Coming Soon: WIP: You didn't see this! -->
							<!-- <h2>Requested by</h2>
							<h1>ModestTim</h1> -->
						</div>
					</div>
					<div class="progress-bar hide" style="width: 0%"></div>
				</div>
				<div class="col-12">
					<table class="dp-1 playlist">
						<tbody>
						</tbody>
					</table>
			   </div>
		   </div>
	   </tc-container>
	</tc-body>

	{% include "../../parts/footer.html" %}

	<script src="/js/script.js"></script>
</body>
</html>
